In [85]:
#importing all the dependies
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [86]:
#reading the data
dataset=pd.read_csv("mail_data.csv")
dataset.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [87]:
#checking the size of the data
dataset.shape

(5572, 2)

In [88]:
#checking for the null values
dataset.isnull().sum()

Category    0
Message     0
dtype: int64

In [89]:
#information regarding the dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [90]:
#counting the values in the Caerogy of the dataset
dataset['Category'].value_counts()

ham     4825
spam     747
Name: Category, dtype: int64

In [91]:
#we need the data in the integer format so we are replacing the ham as 1 and spam as 0
dataset.replace({'Category':{'ham':1,'spam':0}},inplace=True)

In [92]:
#now printing the datset here the ham as converted to 1 and spam as 0
dataset.head()

   Category                                            Message
0         1  Go until jurong point, crazy.. Available only ...
1         1                      Ok lar... Joking wif u oni...
2         0  Free entry in 2 a wkly comp to win FA Cup fina...
3         1  U dun say so early hor... U c already then say...
4         1  Nah I don't think he goes to usf, he lives aro...

In [93]:
#assinging the data to the variables x and y
x=dataset['Message']
y=dataset['Category']

In [94]:
#splitting the dataset into the training dataset and testing dataset 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=3)

In [95]:
#here we are converting the mail message as numerical by using feature_extraction
from sklearn.feature_extraction.text import TfidfVectorizer
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase='True')
x_train_features=feature_extraction.fit_transform(x_train)
x_test_features=feature_extraction.transform(x_test)

In [96]:
#here we are importing LogisticRegression model because it is a good binary classifier  
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train_features,y_train)

LogisticRegression()

In [97]:
#predicting the x_train_features by using predict keyword
y_pred=model.predict(x_train_features)
y_pred

array([1, 1, 1, ..., 1, 1, 0], dtype=int64)

In [98]:
#predicting the accuracy_score between the y_predict and y_train
from sklearn.metrics import accuracy_score
ac=accuracy_score(y_pred,y_train)
print("The accuracy score of the tarining data is:",ac)

The accuracy score of the tarining data is: 0.9670181736594121

In [99]:
y_test_pred=model.predict(x_test_features)
y_test_pred

array([0, 1, 1, ..., 1, 1, 1], dtype=int64)

In [100]:
ac=accuracy_score(y_test_pred,y_test)
ac

0.9659192825112107

In [101]:
#checking for the other input data
input_mail=["Why you Dint come with us."]
input_mail_feature_extraction=feature_extraction.transform(input_mail)
prediction=model.predict(input_mail_feature_extraction)
if(prediction[0]==1):
    print("The mail is not a SPAM mail")
else:
    print("The mail is a SPAM mail")

The mail is not a SPAM mail